<!DOCTYPE html>

<head>
    <title>Pull requests table</title>
</head>

<body>
    <h1 align="center">
        Pull requests
    </h1>

    <!---
    <table align="center" border="1">
        <thead>
            <td>N</td>
            <td>Name</td>
            <td>author</td>
            <td>author email</td>
            <td>link</td>
            <td>approvals</td>
            <td>created date</td>
            <td>ready for review</td>
        </thead> 
        <tr>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
    --->

    <p align='center'>{{ prs }}</p>
</body>